@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><b>Big Al's Auto Parts</b></h1>
    <h3>Employee Access Page</h3>
    
</div>

<div class="row">
    <h3>Search the Inventory Here</h3>
    <br />
    @Html.ActionLink("Go To Search Page", "Index", "Search")
    
</div>

